label#Movie {
    color: red;
}

.test {
    height: 100px;
    width: 110px;
    padding: 200px;
    margin: 10px;
    background-color: aqua;
    border-radius: 50%;
    color: whitesmoke;
}
.test2 {
    height: 100px;
    width: 110px;
    padding: 200px;
    margin: 10px;
    background-color: rebeccapurple;
    border-radius: 50%;
    color: whitesmoke;
}